{% extends 'base.html' %}
{% block content %}



<div class="container-fluid" id="adoption-list">
    <div class="row">
        <div class="col">
             <h1 class="section-title">Adopt a pokepet!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Check back later to meet other pets!</h3>
        </div>
    </div>
    <div class="row">
        {% for poke in pokemon %}
            <div class="col-sm" id="pet-card">
            <h3>{{poke.name[0]|upper}}{{poke.name[1:]}}</h3>
            <img class="poke-img" src="{{poke.sprite_url}}">
            <form action="{{ url_for('adopt_pet', poke_id=poke.id)}}">
                <button class="btn btn-primary">Adopt Me!</button>
            </form> 
        </div>
        
        {% endfor %}
    </div>
    

</div>


{% endblock %}